<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Messraizer</title>
	<link rel="stylesheet" href="stylesheets/prism.css">
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
	<div id="app"></div>
	<% if (env === 'production') { %>
	<script src="//cdn.socket.io/socket.io-1.3.5.js"></script>
	<script src="/javascripts/dist/main.js"></script>
	<% } else { %>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/bower_components/requirejs/require.js"></script>
	<script src="/javascripts/out/main.js"></script>
	<% } %>
</body>
</html>
