body {
  padding: 0;
  margin: 1em 0;
  font: 80% "Lucida Grande", Helvetica, Arial, sans-serif;
  background: hsl(0, 0%, 8%);
  color: rgb(171, 171, 171);
}

body.editor {
  background: #dddddd;
  color: #222;
}

a {
  color: hsl(76, 21%, 52%);
}

pre {
  font: 80% "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

label {
  display: block;
}

pre[class*="language-"] {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.page {
  margin: 2em;
}

.message-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.message {
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.image-container {
  line-height: 0;
}

.img {
  height: 15em;
}

.message.active {
  opacity: 1;
  z-index: 1;
}

.message__title {
  font-size: 3em;
}

.code-block {
  font-size: 1.5em;
}

.add {
  font-size: 1.5em;
  margin: 1em;
  position: relative;
  z-index: 10;
}

button.add-message {
  background-color: #0b97c4;
  text-align: center;
  line-height: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  border: none;
    margin-left: 20px;
}

.message-list {
    display: flex;
    flex-wrap: wrap;
}

.li_edit {
  margin: 10px 10px 20px 20px;
    width: 600px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 15px #777;
  font-size: 16px;
}

.li_edit input, .li_edit select {
  height: 30px;
}

.li_edit textarea {
  height: 80px;
}

.li_edit input, .li_edit select, .li_edit textarea {
  margin: 10px 0;
  width: 500px;
  font-size: 14px;
}


.li_edit button {
  border: none;
    outline: none;
    vertical-align: top;
  border-radius: 0;
  background-color: lightgreen;
  width: 100px;
  height: 30px;
  color: #fff;
  box-shadow: 1px 1px 1px #777;
  margin-right: 10px;
}


.li_edit .remove-message {
    background-color: transparent;
    box-shadow: none;
    color: #cc0000;
}

.li_edit button.disable {
  background-color: #cc0000;
}
.li_edit button.inactive {
    background-color: #ccc;
    box-shadow: none;
}